/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px solid red;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-weight: 400;
  color: #757575;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-nav__list, .auth-list, .social, .features__list, .work__list, .team__list, .clients__list, .filter, .portfolio {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-nav__link, .auth-list__link, .logo, .contacts__link, .portfolio__link {
  text-decoration: none;
  color: inherit;
}

.work__title, .team__title, .clients__title {
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .work__title, .team__title, .clients__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.social-media__subtitle,
.email-field__subtitle, .features__subtitle, .work__subtitle {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
}

.features__list, .work__list, .team__list, .clients__list, .portfolio {
  display: flex;
  margin: calc(0px - (30px / 2));
  flex-wrap: wrap;
}

.modal-form__label--comment, .modal-form__name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.main-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .main-nav__list {
    display: none;
  }
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__link {
  display: block;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link:hover, .main-nav__link:focus {
  color: #2196f3;
}

.main-nav__link.current {
  position: relative;
  color: #2196f3;
}

.main-nav__link.current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.auth-list {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .auth-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .auth-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.auth-list__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .auth-list__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.auth-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .auth-list__link {
    font-size: 12px;
    line-height: 1.16;
    padding: 0;
  }
}

.auth-list__link:hover, .auth-list__link:focus {
  color: #2196f3;
}

.auth-list__icon {
  fill: currentColor;
}

.icon-envelope {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .icon-envelope {
    width: 16px;
    height: 12px;
  }
}

.icon-smartphone {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .icon-smartphone {
    width: 10px;
    height: 16px;
  }
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-accent {
  color: #2196f3;
}

.logo--inverse {
  color: #ffffff;
}

.page-header .logo {
  margin-right: 88px;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .page-header .logo {
    margin-right: 93px;
  }
}

.page-footer .logo {
  margin-bottom: 20px;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.btn__icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.btn__icon--append {
  margin-left: 10px;
}

.btn--filter {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  box-shadow: unset;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--filter:hover, .btn--filter:focus, .btn--filter:active {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .card {
    flex-basis: calc( (100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card {
    flex-basis: calc( (100% - 4 * 30px) / 4);
  }
}

.card__label {
  padding: 30px 32px;
}

.card__subtitle {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.card__text {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 50%;
  text-decoration: none;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social__link--inverse {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.social__link--inverse:hover, .social__link--inverse:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social__icon {
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.page-footer-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
}

.contacts {
  margin-right: 70px;
}

.contacts__address {
  color: #ffffff;
  line-height: 1.71;
  font-style: normal;
}

.contacts__address:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.social-media__subtitle,
.email-field__subtitle {
  margin-bottom: 20px;
  color: #ffffff;
}

.email-field {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  width: 570px;
}

.email-field__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.email-field__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  visibility: visible;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 5000ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  color: #2196f3;
}

.modal__icon {
  fill: currentColor;
}

.modal-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-form__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 30px;
  color: #212121;
}

.modal-form__field {
  position: relative;
  margin-bottom: 28px;
}

.modal-form__field--comment {
  margin-bottom: 20px;
}

.modal-form__input {
  width: 448px;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field:focus-within .modal-form__input {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-form__input--comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-form__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__label {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 58px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.modal-form__label--comment {
  position: absolute;
  top: -4px;
  transform: translateY(-100%);
}

.modal-form__name {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: currentColor;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon:hover {
  color: #2196f3;
}

.modal-form__field:focus-within .modal-form__icon {
  color: #2196f3;
}

.modal-form__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  line-height: 1.71;
  margin-bottom: 30px;
}

.modal-form__check-icon {
  border-radius: 2px;
  margin-right: 8px;
  border: 2px solid #212121;
  background: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__check-policy:checked + .modal-form__check-icon {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.modal-form__check-policy:focus + .modal-form__check-icon {
  outline: 2px solid #2196f3;
}

.modal-form__link {
  color: #2196f3;
  margin-left: 4px;
}

.product {
  flex-basis: calc( (100% - 3 * 30px) / 3);
}

.product__thumb {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  color: #ffffff;
  margin: 0px;
  font-size: 18px;
  line-height: 1.56;
  background-color: #2196f3;
  opacity: 0.9;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .product__overlay,
.portfolio__link:focus .product__overlay {
  transform: translateY(0%);
}

.product__label {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.product__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.product__name {
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.87;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.hero {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/mobile/hero_mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: calc(96dpi * 2)), screen and (min-resolution: calc(1dppx * 2)) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/mobile/hero_mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/tablet/hero_tablet@1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: calc(96dpi * 2)), screen and (min-width: 768px) and (min-resolution: calc(1dppx * 2)) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/tablet/hero_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/desktop/hero_desktop@1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: calc(96dpi * 2)), screen and (min-width: 1200px) and (min-resolution: calc(1dppx * 2)) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/desktop/hero_desktop@2x.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__item {
  flex-basis: 100%;
  margin: calc(30px / 2);
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc( (100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc( (100% - 4 * 30px) / 4);
  }
}

.features__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.features__item:nth-child(1)::before {
  background-image: url(../images/features/antenna.svg);
}

.features__item:nth-child(2)::before {
  background-image: url(../images/features/clock.svg);
}

.features__item:nth-child(3)::before {
  background-image: url(../images/features/diagram.svg);
}

.features__item:nth-child(4)::before {
  background-image: url(../images/features/astronaut.svg);
}

.features__subtitle {
  color: #212121;
}

@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__text {
  margin-bottom: 0px;
  line-height: 1.71;
}

.work {
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__item {
  flex-basis: calc( (100% - 3 * 30px) / 3);
  margin: calc(30px / 2);
}

.work__thumb {
  position: relative;
}

.work__thumb-label {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__subtitle {
  margin-bottom: 0px;
  color: #ffffff;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__item {
  flex-basis: 100%;
  margin: calc(30px / 2);
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc( (100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc( (100% - 4 * 30px) / 4);
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__item {
  flex-basis: calc( (100% - 2 * 30px) / 2);
  height: 92px;
  margin: calc(30px / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc( (100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc( (100% - 6 * 30px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 4px;
  color: #afb1b8;
  border: 1px solid currentColor;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
}

.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__item {
  margin-bottom: 30px;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=main.css.map */