%list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

%link {
  text-decoration: none;
  color: inherit;
}

%title {
<<<<<<< HEAD
  margin-bottom: 50px;

=======
  @include respond-below($desktop) {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }

  margin-bottom: 50px;
>>>>>>> goit-markup-hw-08/main
  color: $title-text-color;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

%subtitle {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
}

%grid-list {
  display: flex;
<<<<<<< HEAD
  justify-content: space-between;
=======
  margin: calc(0px - (#{$space-btw-elements} / 2));
  // justify-content: space-between;
>>>>>>> goit-markup-hw-08/main
  flex-wrap: wrap;
}

%form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
