$main-text-color: #757575;
$title-text-color: #212121;
$logo-color: #000000;
$accent-text-color: #2196f3;
$white-color: #ffffff;
$transparent-white-color: rgba(255, 255, 255, 0.6);
$bgr-accent-color: #f5f4fa;
$bgr-dark-color: #2f303a;
$icons-color: #afb1b8;

$btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$space-btw-elements: 30px;
$animation-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
