.contacts {
  @include respond-below($desktop) {
    text-align: center;
    margin-bottom: 60px;
  }

  @include respond-above($desktop) {
    margin-right: 70px;
  }
}

.contacts__address {
  color: $white-color;
  line-height: 1.71;
  font-style: normal;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contacts__link {
  @extend %link;
  color: $transparent-white-color;
  line-height: 1.71;
  font-style: normal;

  transition: color $animation-duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}
