.email-field {
  max-width: 450px;
  text-align: center;

  @include respond-above($desktop) {
    @include flex-wrapper($al-items: flex-end);
    max-width: 570px;
  }
}

.email-field__subtitle {
  @extend %subtitle;
  margin-bottom: 20px;
  color: $white-color;
  text-align: start;

  @include respond-below($desktop) {
    text-align: center;
  }
}

.email-field__label {
  @include respond-below($mobile) {
    max-width: 450px;
  }
}

.email-field__input {
  height: 50px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  box-shadow: $btn-shadow;

  &::placeholder {
    color: $transparent-white-color;
  }

  @include respond-below($mobile) {
    flex-basis: 100%;
  }

  @include respond-below($desktop) {
    width: 450px;
    margin-bottom: 20px;
  }

  @include respond-above($desktop) {
    width: 358px;
    margin-right: 12px;
  }
}
