.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $bgr-accent-color;
}

.team__title {
  @extend %title;
}

.team__list {
  @extend %list;
  @extend %grid-list;
}

.card {
  @include grid-item_width(4);
  background-color: $white-color;
  border-radius: 4px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: $card-shadow;
}

.card__label {
  padding: 30px 32px;
}

.card__subtitle {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.card__text {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}
