.work {
  padding-bottom: 94px;
}

.work__title {
  @extend %title;
}

.work__list {
  @extend %list;
  @extend %grid-list;
}

.work__item {
  @include grid-item_width(3);
}

.work__thumb {
  position: relative;
}

.work__thumb-label {
  position: absolute;
  bottom: 0;
  @include flex-wrapper($flex: inline-flex);
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.work__subtitle {
  @extend %subtitle;
  margin-bottom: 0px;
  color: $white-color;
}
