.team {
  @include section-padding(60px, 60px);
  background-color: $bgr-accent-color;

  @include respond-above($desktop) {
    @include section-padding();
  }
}

.team__title {
  @extend %title;
}

.team__list {
  @extend %list;
  @extend %grid-list;
}

.card {
  width: 100%;
  margin: calc(#{$space-btw-elements} / 2);

  background-color: $white-color;
  border-radius: 4px;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: $card-shadow;

  @include respond-above($tablet) {
    @include grid-item_width(2);
  }

  @include respond-above($desktop) {
    @include grid-item_width(4);
  }
}

.card__label {
  padding: 30px 32px;
}

.card__subtitle {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.card__text {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 16px;
}
